.container{
    display:grid;
    height:100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
    "header header"
    "profile xp"
    "grades skills";
}
header{
    grid-area:header;
}
.xp, .profile, .grades, .skills{
    border:solid white 1px;
}
.xp{
    grid-area:xp;
}
.profile{
    grid-area:profile;
}
.profile-text{
    display:flex;
    justify-content:left;
    align-items: center;
}
.profile-text>p{
    margin-left:5px;
}

.grades{
    grid-area:grades;
}
.skills{
    grid-area:skills;
}
rect {
    fill: white;
    stroke-width: 1px;
    stroke:black;
}
.bar-highlight{
    fill: yellow;
    opacity: 1;
}

#xp-container{
    display:flex;
    align-items: flex-start;
    justify-content:left;
}
.svg-pie-chart{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.svg-pie-chart-color{
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}